.header {
    font-size: 30px;
    background-color: pink;
    height: 10%;
    width: 100%;
    padding: 20px;
}

body {
    margin: 0px;
}

.textBox-left {
    border: 2px solid black;
    margin: 20px 20px;
    width: 46%;
    float: left;
}

.textBox-right {
    border: 2px solid black;
    margin: 20px 20px;
    width: 46%;
    float: right;
}